In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
ls

 Volume in drive E is HDD1TB_1
 Volume Serial Number is B855-F337

 Directory of E:\thinkful\DS_fundamentals\Project

09/04/2018  08:34 PM    <DIR>          .
09/04/2018  08:34 PM    <DIR>          ..
09/04/2018  08:34 PM    <DIR>          .ipynb_checkpoints
09/04/2018  08:34 PM        11,253,878 35478-0001-Data.tsv
09/04/2018  08:34 PM         2,438,797 ABBREV.txt
09/04/2018  08:34 PM                72 Untitled.ipynb
               3 File(s)     13,692,747 bytes
               3 Dir(s)  859,787,096,064 bytes free

In [5]:
data = pd.read_csv('35478-0001-Data.tsv', sep='\t')

In [6]:
data.head()

,YEAR,ID,INTID,FEEUSED,FEELEVEL,DATEINTV,LNGTHINV,INTAGE,INTETHN,MODE,...,SAMPCODE,SAMPLE,OVERSAMP,WTSS,WTSSNR,WTSSALL,WTCOMB,WTCOMBNR,VSTRAT,VPSU
0,2012,1,49,1,75,721,69,60,1,1,...,601,10,1,2.621963,2.869532,2.621963,6.402159,7.006659,-1,-1
1,2012,2,150,1,75,624,53,32,1,1,...,601,10,1,3.495950,3.826043,3.495950,6.514477,7.129583,-1,-1
2,2012,3,150,1,75,627,77,32,1,1,...,601,10,1,1.747975,1.913021,1.747975,1.671130,1.828920,-1,-1
3,2012,4,49,1,20,527,78,60,1,1,...,601,10,1,1.235694,1.352370,1.235694,1.181370,1.292917,-1,-1
4,2012,5,235,1,75,620,149,62,1,1,...,601,10,1,0.873988,0.956511,0.873988,0.835565,0.914460,-1,-1

In [14]:
data.describe()

,YEAR,ID,INTID,FEEUSED,FEELEVEL,DATEINTV,LNGTHINV,INTAGE,INTETHN,MODE,...,SAMPCODE,SAMPLE,OVERSAMP,WTSS,WTSSNR,WTSSALL,WTCOMB,WTCOMBNR,VSTRAT,VPSU
count,4820.0,4820.000000,4820.000000,4820.000000,4820.000000,4820.000000,4820.000000,4820.000000,4820.000000,4820.000000,...,4820.000000,4820.000000,4820.0,4820.000000,4820.000000,4820.000000,4820.000000,4820.000000,4820.0,4820.0
mean,2012.0,6195.448340,109.973651,1.701867,30.708714,507.896680,103.247718,55.413485,1.551245,1.173237,...,259.081328,4.095436,1.0,-0.180705,-0.180705,-0.180705,1.000000,1.000000,-1.0,-1.0
std,0.0,4440.116843,67.188473,1.078048,28.004998,131.165498,30.384696,10.539414,1.216060,0.494910,...,311.497484,4.918006,0.0,1.061713,1.071722,1.061713,0.721161,0.741400,0.0,0.0
min,2012.0,1.000000,1.000000,1.000000,0.000000,319.000000,30.000000,25.000000,1.000000,1.000000,...,0.000000,0.000000,1.0,-1.000000,-1.000000,-1.000000,0.000000,0.000000,-1.0,-1.0
25%,2012.0,1205.750000,51.000000,1.000000,0.000000,412.000000,83.000000,49.000000,1.000000,1.000000,...,0.000000,0.000000,1.0,-1.000000,-1.000000,-1.000000,0.518511,0.560380,-1.0,-1.0
50%,2012.0,8436.500000,107.000000,1.000000,20.000000,503.000000,98.000000,56.000000,1.000000,1.000000,...,0.000000,0.000000,1.0,-1.000000,-1.000000,-1.000000,0.787580,0.803168,-1.0,-1.0
75%,2012.0,10346.250000,167.000000,3.000000,50.000000,611.000000,118.000000,63.000000,1.000000,1.000000,...,620.000000,10.000000,1.0,0.823796,0.760354,0.823796,1.181370,1.176391,-1.0,-1.0
max,2012.0,11551.000000,236.000000,9.000000,75.000000,905.000000,200.000000,99.000000,9.000000,9.000000,...,676.000000,10.000000,1.0,8.739876,11.068476,8.739876,8.536211,10.581877,-1.0,-1.0

In [15]:
data.columns

Index(['YEAR', 'ID', 'INTID', 'FEEUSED', 'FEELEVEL', 'DATEINTV', 'LNGTHINV',
       'INTAGE', 'INTETHN', 'MODE',
       ...
       'SAMPCODE', 'SAMPLE', 'OVERSAMP', 'WTSS', 'WTSSNR', 'WTSSALL', 'WTCOMB',
       'WTCOMBNR', 'VSTRAT', 'VPSU'],
      dtype='object', length=1069)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4820 entries, 0 to 4819
Columns: 1069 entries, YEAR to VPSU
dtypes: float64(9), int64(1060)
memory usage: 39.3 MB